body {
    text-align: center;
    margin: 0px;
    font-family: "Comic Sans MS";
}

.about {
    background-color: white;
    padding: 0px;
}

.image {
    width="200"
    height="250"
}

.projects {
    background-color: white;
    padding: 10px;
}

.interests {
    background-color: white;
    padding: 10px;
}

.link {
	background-color: white;
    padding: 10px;
}

